/* COMMON STYLE SHEET FOR ALL */

/* FLOAT */
.floatl{float:left}
.floatr{float:right}
.floata{float:none}
.floati{float:inherit}

/* WIDTH AUTO*/
.widtha{width:auto;}


/* WIDTH IN PERCENT */
.w100p{width:100%}
.w99p{width:99%}
.w98p{width:98%}
.w97p{width:97%}
.w96p{width:96%}
.w95p{width:95%}
.w94p{width:94%}
.w93p{width:93%}
.w92p{width:92%}
.w91p{width:91%}
.w90p{width:90%}
.w85p{width:85%}
.w80p{width:80%}
.w75p{width:75%}
.w70p{width:70%}
.w65p{width:65%}
.w60p{width:60%}
.w55p{width:55%}
.w50p{width:50%}
.w45p{width:45%}
.w35p{width:35%}
.w30p{width:30%}
.w25p{width:25%}
.w20p{width:20%}
.w15p{width:15%}
.w10p{width:10%}
.w9p{width:9%}
.w8p{width:8%}
.w7p{width:7%}
.w6p{width:6%}
.w5p{width:5%}
.w4p{width:4%}
.w3p{width:3%}
.w2p{width:2%}
.w1p{width:1%}


/* WIDTH IN PX */
.w190{width:190px}
/* PADDING TOP IN PX */
.padt10{padding-top:10px;}

/* MARGIN TOP IN PX */
.marl5{margin-left:5px}
.marl10{margin-left:10px}
.marl15{margin-left:15px}
.marl20{margin-left:20px}
.marl25{margin-left:25px}
.marl30{margin-left:30px}
.marl35{margin-left:35px}
.marl40{margin-left:40px}
.marl45{margin-left:45px}
.marl50{margin-left:50px}
.marl60{margin-left:60px}
.marl70{margin-left:70px}
.marl80{margin-left:80px}
.marl90{margin-left:90px}
.marl100{margin-left:100px}
.marl110{margin-left:110px}
.marl120{margin-left:120px}
.marl130{margin-left:130px}
.marl140{margin-left:140px}
.marl150{margin-left:150px}
.marl160{margin-left:160px}
.marl170{margin-left:170px}
.marl180{margin-left:180px}
.marl190{margin-left:190px}
.marl200{margin-left:200px}
.marl250{margin-left:250px}
.marl300{margin-left:300px}
.marl350{margin-left:350px}
.marl400{margin-left:400px}
.marl450{margin-left:450px}

/* MARGIN RIGHT */
.marr5{margin-right:5px}
.marr10{margin-right:10px}
.marr15{margin-right:15px}
.marr20{margin-right:20px}
.marr25{margin-right:25px}
.marr30{margin-right:30px}
.marr35{margin-right:35px}
.marr40{margin-right:40px}
.marr45{margin-right:45px}
.marr50{margin-right:50px}
.marr60{margin-right:60px}
.marr70{margin-right:70px}
.marr80{margin-right:80px}
.marr90{margin-right:90px}
.marr100{margin-right:100px}
.marr110{margin-right:110px}
.marr120{margin-right:120px}
.marr130{margin-right:130px}
.marr140{margin-right:140px}
.marr150{margin-right:150px}
.marr160{margin-right:160px}
.marr170{margin-right:170px}
.marr180{margin-right:180px}
.marr190{margin-right:190px}
.marr200{margin-right:200px}
.marr250{margin-right:250px}
.marr300{margin-right:300px}
.marr350{margin-right:350px}
.marr400{margin-right:400px}
.marr450{margin-right:450px}

/* MARGIN TOP  */
.mart5{margin-top:5px}
.mart10{margin-top:10px}
.mart15{margin-top:15px}
.mart20{margin-top:20px}
.mart25{margin-top:25px}
.mart30{margin-top:30px}
.mart35{margin-top:35px}
.mart40{margin-top:40px}
.mart45{margin-top:45px}
.mart50{margin-top:50px}
.mart60{margin-top:60px}
.mart70{margin-top:70px}
.mart80{margin-top:80px}
.mart90{margin-top:90px}
.mart100{margin-top:100px}
.mart110{margin-top:110px}
.mart120{margin-top:120px}
.mart130{margin-top:130px}
.mart140{margin-top:140px}
.mart150{margin-top:150px}
.mart160{margin-top:160px}
.mart170{margin-top:170px}
.mart180{margin-top:180px}
.mart190{margin-top:190px}
.mart200{margin-top:200px}
.mart250{margin-top:250px}
.mart300{margin-top:300px}
.mart350{margin-top:350px}
.mart400{margin-top:400px}
.mart450{margin-top:450px}

/* MARGIN BOTTOM */
.marb5{margin-bottom:5px}
.marb10{margin-bottom:10px}
.marb15{margin-bottom:15px}
.marb20{margin-bottom:20px}
.marb25{margin-bottom:25px}
.marb30{margin-bottom:30px}
.marb35{margin-bottom:35px}
.marb40{margin-bottom:40px}
.marb45{margin-bottom:45px}
.marb50{margin-bottom:50px}
.marb60{margin-bottom:60px}
.marb70{margin-bottom:70px}
.marb80{margin-bottom:80px}
.marb90{margin-bottom:90px}
.marb100{margin-bottom:100px}
.marb110{margin-bottom:110px}
.marb120{margin-bottom:120px}
.marb130{margin-bottom:130px}
.marb140{margin-bottom:140px}
.marb150{margin-bottom:150px}
.marb160{margin-bottom:160px}
.marb170{margin-bottom:170px}
.marb180{margin-bottom:180px}
.marb190{margin-bottom:190px}
.marb200{margin-bottom:200px}
.marb250{margin-bottom:250px}
.marb300{margin-bottom:300px}
.marb350{margin-bottom:350px}
.marb400{margin-bottom:400px}
.marb450{margin-bottom:450px}

/* PADDING  RIGHT */
.padr5{padding-right:5px}
.padr10{padding-right:10px}
.padr15{padding-right:15px}
.padr20{padding-right:20px}
.padr25{padding-right:25px}
.padr30{padding-right:30px}
.padr35{padding-right:35px}
.padr40{padding-right:40px}
.padr45{padding-right:45px}
.padr50{padding-right:50px}
.padr60{padding-right:60px}
.padr70{padding-right:70px}
.padr80{padding-right:80px}
.padr90{padding-right:90px}
.padr100{padding-right:100px}
.padr110{padding-right:110px}
.padr120{padding-right:120px}
.padr130{padding-right:130px}
.padr140{padding-right:140px}
.padr150{padding-right:150px}
.padr160{padding-right:160px}
.padr170{padding-right:170px}
.padr180{padding-right:180px}
.padr190{padding-right:190px}
.padr200{padding-right:200px}
.padr250{padding-right:250px}
.padr300{padding-right:300px}
.padr350{padding-right:350px}
.padr400{padding-right:400px}
.padr450{padding-right:450px}

/* PADDING LEFT  */
.padl5{padding-left:5px}
.padl10{padding-left:10px}
.padl15{padding-left:15px}
.padl20{padding-left:20px}
.padl25{padding-left:25px}
.padl30{padding-left:30px}
.padl35{padding-left:35px}
.padl40{padding-left:40px}
.padl45{padding-left:45px}
.padl50{padding-left:50px}
.padl60{padding-left:60px}
.padl70{padding-left:70px}
.padl80{padding-left:80px}
.padl90{padding-left:90px}
.padl100{padding-left:100px}
.padl110{padding-left:110px}
.padl120{padding-left:120px}
.padl130{padding-left:130px}
.padl140{padding-left:140px}
.padl150{padding-left:150px}
.padl160{padding-left:160px}
.padl170{padding-left:170px}
.padl180{padding-left:180px}
.padl190{padding-left:190px}
.padl200{padding-left:200px}
.padl250{padding-left:250px}
.padl300{padding-left:300px}
.padl350{padding-left:350px}
.padl400{padding-left:400px}
.padl450{padding-left:450px}

/* PADDING TOP  */
.padt5{padding-top:5px}
.padt10{padding-top:10px}
.padt15{padding-top:15px}
.padt20{padding-top:20px}
.padt25{padding-top:25px}
.padt30{padding-top:30px}
.padt35{padding-top:35px}
.padt40{padding-top:40px}
.padt45{padding-top:45px}
.padt50{padding-top:50px}
.padt60{padding-top:60px}
.padt70{padding-top:70px}
.padt80{padding-top:80px}
.padt90{padding-top:90px}
.padt100{padding-top:100px}
.padt110{padding-top:110px}
.padt120{padding-top:120px}
.padt130{padding-top:130px}
.padt140{padding-top:140px}
.padt150{padding-top:150px}
.padt160{padding-top:160px}
.padt170{padding-top:170px}
.padt180{padding-top:180px}
.padt190{padding-top:190px}
.padt200{padding-top:200px}
.padt250{padding-top:250px}
.padt300{padding-top:300px}
.padt350{padding-top:350px}
.padt400{padding-top:400px}
.padt450{padding-top:450px}


/* PADDING BOTTOM  */
.padb5{padding-bottom:5px}
.padb10{padding-bottom:10px}
.padb15{padding-bottom:15px}
.padb20{padding-bottom:20px}
.padb25{padding-bottom:25px}
.padb30{padding-bottom:30px}
.padb35{padding-bottom:35px}
.padb40{padding-bottom:40px}
.padb45{padding-bottom:45px}
.padb50{padding-bottom:50px}
.padb60{padding-bottom:60px}
.padb70{padding-bottom:70px}
.padb80{padding-bottom:80px}
.padb90{padding-bottom:90px}
.padb100{padding-bottom:100px}
.padb110{padding-bottom:110px}
.padb120{padding-bottom:120px}
.padb130{padding-bottom:130px}
.padb140{padding-bottom:140px}
.padb150{padding-bottom:150px}
.padb160{padding-bottom:160px}
.padb170{padding-bottom:170px}
.padb180{padding-bottom:180px}
.padb190{padding-bottom:190px}
.padb200{padding-bottom:200px}
.padb250{padding-bottom:250px}
.padb300{padding-bottom:300px}
.padb350{padding-bottom:350px}
.padb400{padding-bottom:400px}
.padb450{padding-bottom:450px}




/* LINKS */
a{ text-decoration:none;}
a:hover{ text-decoration:underline;}
a.viewlink { color:#cc0000; font-weight:bold; text-decoration:none;}
a:hover.viewlink { text-decoration:underline }

/* TXEXT COLOR */
.txtred{color:#cc0000;}
.txtgreen{color:#339900;}
.txtgray{color:#414040}
.txtgreen2{color:#62a61f}
.txtblue{color:#007dc4}
/* BACKGROUND COLOR */
.bgwhite{background:#FFF}


/* TXEXT COLOR */
.txtal{text-align:left}
.txtar{text-align:right}
.txtac{text-align:center}
.txtaj{text-align:justify}
.txtajlc{text-align:justify; text-align-last:center}

/* FONT WEIGHT */
.txtb{font-weight:bold;}

/* HEADER COLOR */
.green{background:#a2c300; color:#fff }

h2.internal{margin: 0 0 0 0; padding:0 0 0 0;}



/* HEADDING */
h1, h2, h3, h4, h5, h6 {font-family:Arial, Helvetica, sans-serif; padding:0; margin:0; font-weight:normal}
h1{font-size:18px; text-transform:uppercase;}


/* HEADDING CUSTOMISED */
p{padding:0 20px ;}