*{margin:0px; padding:0px;}
.clearfix{clear:both}
body {
    background-color: #292727;
    font-family: "Roboto Condensed",sans-serif;
}
#main-wrapper{width:900px; margin:0 auto; background-color:#292727}
#header-pan{padding:15px 10px 9px}
#header-pan .left-div{width:45%; float:left;}
#header-pan .right-div{width:55%; float:left; font-size:17px; color:#6d6a6a; text-align:center; font-weight:bold; padding:10px 0 0 0;}
#banner-pan{position:relative}
#content-wrapper{padding:10px 0}
#content-wrapper h1{font-size:20px; color:#6d6a6a; text-align:center; margin:0 0 10px 0; padding:0px;}
#content-wrapper h2{font-size:18px; color:#6d6a6a; text-align:center; margin:0 0 10px 0; padding:0px;}
#content-wrapper table{line-height:0; margin:0 0 20px 0}
.footer-line{font-size:12px; color:#6d6a6a; text-align:center; padding:30px 0 0px 0; margin:0px;}
.form-wrapper{position:absolute; bottom:-60px; 0; background-color:#FFF; right:20px; width:235px; padding:0 0 10px 0; }
.form-wrapper h1{font-size:14px; color:#6d6a6a; text-align:center; background-color:#292727; margin:0 0 10px 0; padding:15px 0px; text-transform:uppercase;}
.form-wrapper form{padding:10px;}
.form-wrapper lable{font-size:12px; color:#292727; text-transform:uppercase; width:100%}
.form-wrapper .txt-field{font-size:12px; color:#292727; /*text-transform:uppercase;*/ background-color:#f3f3f3; padding:2%; width:98%; margin:5px 0 20px 0; border:0px; border-radius:none}
.form-wrapper .submit-button{font-size:12px; color:#ffffff; text-transform:uppercase; background-color:#343c3e; padding:2%; width:30%; margin:5px 0 0px 0; border:0px; border-radius:5px; -moz-border-radius:5px; -webkit-border-radius:5px; float:right; cursor:pointer;}
.responseText{color: #c54533;display: block;font-style: italic;font-weight: bold;padding: 20px 20px 8px;}
@media only screen and (max-width: 768px) {
	#main-wrapper{width:100%}
	img{max-width:100%; height:auto}
	#content-wrapper table img{width:80%;}
	#content-wrapper table .logos{width:70%}
	.form-wrapper {margin: 0 auto; padding: 0 0 10px; position: relative; right: 0; width: 94%; bottom: 0;}
}
#header-pan a {
    color:#6d6a6a;
    text-decoration: underline;
}